<div class="progress">
  <svg class="progress__svg" width="40" height="40" viewBox="0 0 120 120">
    <circle
      class="progress__meter"
      cx="60"
      cy="60"
      [attr.r]="radius"
      stroke-width="12"
    />
    <circle
      class="progress__value"
      [style.strokeDasharray]="circumference"
      [style.strokeDashoffset]="dashoffset"
      cx="60"
      cy="60"
      [attr.r]="radius"
      stroke-width="12"
    />
  </svg>
  <div class="progress__value-text">{{ toFixed(value) }}%</div>
</div>
