// ::ng-deep.mat-menu-panel {
//   transform: translate(60px, -40px);
//   transition: none !important;
//   animation-duration: 0;
//   transform-origin: left;
// }
::ng-deep.cdk-overlay-connected-position-bounding-box {
  /* These numbers are my requirement, put something which suits yours */
  transform: translate(60px, -60px);
  transition: none !important;
  animation-duration: 0;
  transform-origin: left;
}
::ng-deep.cdk-overlay-container {
  left: 200px !important;
  top: 200px !important;
}
::ng-deep.cdk-overlay-connected-position-bounding-box {
  top: 0 !important;
  left: 0 !important;
}
