<div>
  <!-- <h2 mat-dialog-title>
    Cornfirmation
    <button style="float: right;" mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </h2> -->
  <div class="container-fluid p-t-10">
    <div class="row text-center mob">
      <div class="col-md-12 col-sm-12">
        <div class="text-center">
          <div class="icon">
            <img width="75" src="assets/images/icon/bin_rounded.png" />
          </div>
          <span class="m-t-10 prog">{{ label }}</span>
        </div>
      </div>
    </div>

    <div class="btn-sec p-t-20 text-center">
      <button type="button" class="mr-3" mat-button (click)="closeDialog()">
        Cancel
      </button>
      <button
        class="mr-3"
        mat-raised-button
        (click)="yes_onclick()"
        color="primary"
      >
        Delete
      </button>
    </div>
  </div>
</div>
