.text-black {
  // color: #000000 !important;
  font-weight: bold;
}

.col-lg-3.col-sm-6 {
  padding: 3px;
}
h5 {
  // color: black;
}

.card-boxx {
  padding: 10px 10px;
  margin: 8px 0px 0px 0px;
  border-radius: 10px;
  min-height: inherit;
  position: relative;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.18);
  h5 {
    text-align: left;

    text-transform: capitalize;
  }
  p {
    font-size: 12px;

    white-space: nowrap;
  }
  sub {
    font-size: 13px;
    padding: 5px;
    display: inherit;
  }
  table {
    width: 100%;
    tr td img {
      height: 50px;
      filter: invert(1);
    }
    td:last-child h1 {
      text-align: right;
      font-size: 37px;
      // padding-right: 10px;
    }
    td:last-child {
      padding: 0px 10px 0px 0px;
    }
  }
}

.card-boxx {
  background: linear-gradient(45deg, #525252, #8c8888);
  color: #fff;
  border: 1px solid #b1b1b1;
  p {
    // border-top:1px solid #848484;
    color: #fbfbfb;
  }
  sub {
    color: #cacaca;
  }
}
.gradient {
  border-radius: 10px;
  overflow: hidden;
  .greycl {
    color: #9e9e9e;
  }
}
.icony {
  margin: auto;
  height: 50px;
  float: RIGHT;
  padding-left: 10px;

  width: 65px;

  img {
    width: auto;
  }
}

.card-boxx:before {
  position: absolute;
  right: 0px;
  content: "";
  height: 100%;
  width: 100%;
  top: 0px;
  transition: all ease 0.3s;
  opacity: 0.3;
  background-size: 66%;
  background-repeat: no-repeat;
  background-position-x: 99px;
  background-position-y: -30px;
}
.text-center .subtable td:first-child {
  width: 95px;
}

table.subtable {
  width: 100%;
  td {
    padding: 10px 0px;
    vertical-align: top;
    p {
      font-size: 10px;

      font-weight: 600;
    }
    h1 {
      font-size: 37px;
      font-weight: 700;

      // color: black;
      sub {
        font-weight: 400;
        font-size: 15px;
      }
    }
  }
  td:last-child {
    text-align: center;
    // padding-top: 30px;
  }
}
.card .col-lg-4,
.card .col-md-9,
.card .col-md-3,
.card .body .col-xs-6,
.card .body .col-sm-6,
.card .body .col-md-6,
.card .body .col-lg-6,
.card .body .col-md-12 {
  margin-bottom: 0px;
}
.card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25098039215686274);
}

.table.table-striped tr:nth-child(even) td {
  background: rgba(0, 0, 0, 0.011764705882352941);
  border: none;
}
.table.table-striped tr:nth-child(odd) td {
  // background:#fff;
  border: none;
}
.table.table-striped tr:last-child td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.table.table-striped tr:nth-child(2) td {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.impact {
  h1 {
    font-size: 21px;
    // color: black;
    margin-top: 10px;
  }
  p {
    font-size: 13px;
    font-weight: 500;
    max-width: 160px;
    margin: auto;
  }
}

.greycl {
  color: #c7c5c5;
  min-height: 22px;
}

.table-smm {
  font-size: 11px;
}
.table-med {
  font-size: 13px;
}
.barsscont {
  border-radius: 30px;
  width: 100%;
  display: inline-block;
  height: 48px;
  background: rgba(0, 0, 0, 0.03137254901960784);
  .bars_border {
    width: 100%;
    border-top-right-radius: 30px;
    border-right: solid;
    border-color: #e3e3e3;
    background: #e9e9e9;
    border-radius: 30px;
    height: 44px;
    box-sizing: content-box;
  }
}
.barss {
  box-sizing: border-box;
  display: inline-block;
  height: 44px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  background: linear-gradient(45deg, #250f5d, #250f5dad);
  border: 2px solid white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.219608);
  margin-left: 15px;
}
.iicony {
  width: 42px;
  height: 43px;
  border-radius: 50%;
  background: white;
  border: 1px solid;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 4px;
  img {
    height: 22px;
  }
}

hr {
  border-width: 5px;
  border-color: #f3f3f3;
}

.btnright {
  position: absolute;
  right: 2px;
  z-index: 999;
  top: 2px;
}
.borderr {
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.subcolor {
  color: #ccc;
}

.mapbox {
  height: 160px;
  background: #eee;
  overflow: hidden;
  padding: 1px;
}

.detailbox {
  background: #fbfbfb;
  padding: 7px;
  border: 1px solid #ddd;
  font-size: 11px;
  margin-top: 10px;
}

.nobg {
  background: transparent;
  box-shadow: none;
}

.impact.bh1 h1 {
  font-size: 35px;
}
.card-boxx table tr td div {
  border-bottom: 1px solid #848484;
  width: 110px;
  padding-bottom: 10px;
}

mat-panel-title h5 {
  margin-bottom: 0px;
  margin-left: 40px;

  .imicon {
    display: inline-block;
    margin-right: 16px;
    max-width: 35px;
    img {
      max-height: 30px;
    }
  }
}

span.mat-expansion-indicator {
  position: absolute;
  top: 12px;
  background: #909090;
  padding: 12px;
  left: 1px;
  width: 46px;
  text-align: center;
  border-radius: 4px;

  &:before {
    color: white;
  }
}

mat-expansion-panel-header.mat-expanded {
  background: #e8e7e7 !important;
  height: 48px !important;
}

mat-expansion-panel-header {
  position: relative;

  .rightal {
    position: absolute;
    right: -1px;
    top: 0px;
    line-height: 46px;
    display: flex;
  }
  &.mat-expanded h5 {
    z-index: 9999;
  }
}
.noborder td {
  border: none;
  padding: 1px;
  vertical-align: middle;
  position: Relative;
}
.table-bdv tr td a {
  font-weight: 500;
  cursor: pointer;
  font-size: 13px !important;
  //  color: black;
}

@media (min-width: 768px) {
  .l-p-r-5 {
    padding-right: 5px;
  }
  .l-p-l-5 {
    padding-left: 5px;
  }
}
@media (max-width: 768px) {
  .mob .col-md-4,
  .mob .col-md-2,
  .mob .col-md-4 {
    width: 49%;
    margin-bottom: 20px !important;
  }
}
.imgcircle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f1f1f1;
  display: inline-block;
  vertical-align: super;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.109804);
  margin-right: 2px;
}
.label.shadow-style {
  border-radius: 30px;
  display: inline-block;
  width: 100%;
  text-align: center;
  max-width: 90px;
  white-space: nowrap;
}

.table-med,
.table-smm {
  text-align: center;
}

.batcl {
  padding: 13px 11px;
  font-weight: 500;
  h4 {
    margin: 0px;
    font-size: 17px;
  }
}

.html2canvas-container {
  width: 3000px !important;
  height: 3000px !important;
}
