.icon {
    border-radius: 50%;
    width: 83px;
    height: 83px;
    padding: 3px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.05);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
       // height: 16px;
        width: auto;
       
    }
}
.counter-box{
    position: relative;
}
.counter-box:before {
    position: absolute;
    right: 0px;
    content: '';
   
    height: 100%;
    width: 100%;
    top: 0px;
    transition: all ease 0.3s;
    opacity: 0.6;
 
}

.prog {
   
    padding-top: 15px;
    border-top: 1px solid rgba(238, 238, 238, 0.160784);
    margin-top: 15px;
    text-align: center;
    margin-bottom: 0px;
}

@media(max-width:768px){
    .mob .col-md-3{
        width:50%;
        padding: 0px 5px!important;
    }
}